.centralize {
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.layout {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 25px 15px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

#graf-linha{
  width: 100%;
}

.container-row {
  display: flex;
  justify-content: space-around;
}

/* CONTRUCAO DOS CARTÕES */

.card-content {
  width: 300px;
  padding: 20px 15px;
  border-radius: 3px;
  border: solid #bbb 1px;
}

.card-yellow {
  background-color: #ffe042;
}

.card-red {
  background-color: #ff3d3d;
}

.card-blue {
  background-color: #d1e2ed;
}

/* CONSTRUCAO DA NAV BAR */

nav {
  margin: 0;
  padding: 0;
}

.nav {
  background: #326518;
  width: 100%;
  height: 50px;
}

.navbar-brand {
  line-height: 50px;
  margin: auto 10px;
  color: #ccc;
}

.navbar-brand:hover {
  color: #bbb;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
}
.nav-list li {
  display: inline;
}

.nav-list li a {
  color: #ccc;
}

.nav-list li:hover {
  color: #bbb;
}

a {
    text-decoration: none;
=======
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.layout {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 25px 15px;
    background-color: #f5f5f5;
    border-radius: 15px;
}

.container-row {
    display: flex;
    justify-content: space-around;
}

.card-content {
    width: 300px;
    padding: 20px 15px;
    border-radius: 3px;
    border: solid #bbb 1px;
}

.card-yellow {
    background-color: #ffe042;
}

.card-red {
    background-color: #ff3d3d;
>>>>>>> 7d021de8991b1e5e9855761b16c6904d105d06be
}