<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/site.css">
    <link rel="stylesheet" href="../static/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <title>BRASIL COVID-19</title>
</head>

<body>
    <nav class="nav">
        <a class="navbar-brand" href="#">BRASIL COVID-19</a>

        <ul class="nav-list">
            <li><a href="#">Estados</a></li>
        </ul>
    </nav>
    <section class="layout">
        <button id="loadingSpinner" class="btn btn-primary mb-3" type="button" style="display: none;" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Carregando dados...
        </button>
        <div class="container-row justify-content-start">
            <div class="form-group float-left">
                <select class="form-control">
                    <option>Selecione um Estado</option>
                </select>
            </div>
        </div>
        <div class="container-row">
            <div class="card-content card-yellow" style="max-width: 18rem;">
                <div class="">
                    <h5 class="">Casos Confirmados</h5>
                    <p id="casos" class="">

                    </p>
                </div>
            </div>
            <div class="card-content card-red" style="max-width: 18rem;">
                <div class="">
                    <h5 class="">Óbitos</h5>
                    <p id="obitos" class="">

                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around mt-3 mb-3">
            <div id="topCasosConfirmados" class="col-5" style="height:400px;"></div>
            <div id="topObitos" class="col-5" style="height:400px;"></div>
        </div>
        <div class="mt-5">

            <table id="table" class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="centralize" scope="col">Estado</th>
                        <th class="centralize" scope="col">Casos</th>
                        <th class="centralize" scope="col">Óbitos</th>
                        <th class="centralize" scope="col">Data</th>
                    </tr>
                </thead>
            </table>

        </div>
    </section>

    <script type="text/javascript" src="../static/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/fh-3.1.8/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>
    <script src="../static/js/site.js"></script>
</body>

</html>